body {
    width: 80%;
    margin: 0 auto;
    background-image: url(../images/Background2.png);
}

#content {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    border-radius: 5px;
}

table td {
    border: 1px solid gray;
}