{% extends "index.html" %}

{% block header %}
    <title>Add Event - Remindify</title>

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-datepicker3.standalone.min.css" />

    <script type="text/javascript"
     src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
     src="../static/js/bootstrap-datepicker.min.js">
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
          $('#datepicker').datepicker({
          });
      });
    </script>
{% endblock %}

{% block content %}
    <h1>Add Event</h1>
    <form action="/addevent" method="post">
      <table>
        <tr>
          <td>Event name:</td>
          <td><input type="text" class="form-control" name="name" required="true"/></td>
        </tr>
        <tr>
          <td>Location:</td>
          <td><input type="text" class="form-control" name="location" /></td>
        </tr>
        <tr>
          <td>Date:</td>
          <td>
            <input type="text" name="date" id="datepicker" class="form-control" required="true">
          </td>
        </tr>
        <tr>
          <td>Time:</td>
          <td>
            <input type="text" name="time" class="form-control" required="true" />
          </td>
        </tr>
        <tr>
          <td>Remind me:</td>
          <td><select name="remindme">
              <option value="ontime" selected>On time</option>
              <option value="5mins">5 minutes before</option>
              <option value="15mins">15 minutes before</option>
              <option value="30mins">30 minutes before</option>
              <option value="1hr">1 hour before</option>
            </select>
        <tr>
          <td>Email:</td>
          <td><input type="email" name="email" class="form-control" required="true" />
        </tr>
        <tr>
          <td>Message:</td>
          <td><textarea class="form-control" name="message"></textarea></td>
        <tr>
          <td colspan="2">
            <input class="btn btn-default btn-success" type="submit" name="submit" />
            <a href="/" title="Go back to the main page">Cancel</a>
          </td>
        </tr>
      </table>
    </form>
{% endblock %}
