<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <script type="text/javascript"
     src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script> 
    {% block header %}
    <title>Remindify</title>
    <script type="text/javascript">
      // LOADING STATE FOR THE SEND EMAIL BUTTON
      $(document).ready(function(){
          $("#send-email").removeAttr("disabled");
          $("#send-email").click(function() {
              $(this).text("Sending...").attr("disabled", "disabled");
          });
      });
    </script>
    {% endblock %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="../static/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="../static/images/Mini.png" type="image/png" />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img src="../static/images/Logo2.png" alt="The Remindify logo" width="300px" />
          </a>
        </div>
      </div>
    </nav>
    <div id="content">
      {% block content %}
      <a role="button" class="btn btn-default btn-lg btn-success" href="/addevent">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add Event
      </a>
      <a role="button" id="send-email" class="btn btn-default btn-lg btn-primary" href="/email">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        Send Email
      </a>
      <a role="button" class="btn btn-default btn-lg" href="/list">Events List</a>
      {% endblock %}
    </div>
  </body>
</html>
