<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% block header %}
    <title>Remindify</title>
    {% endblock %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="../static/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="../static/images/Mini.png" type="image/png" />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img src="../static/images/Logo2.png" alt="The Remindify logo" width="300px" />
          </a>
        </div>
      </div>
    </nav>
    <div id="content">
      {% block content %}
      <a role="button" class="btn btn-default btn-lg btn-success" href="/addevent">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add Event
      </a>
      <a role="button" class="btn btn-default btn-lg btn-primary" href="/email">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        Send Email
      </a>
      {% endblock %}
    </div>
  </body>
</html>
